{% extends 'resources/base.html' %}

{% block content %}

<p>主页</p>

<p>这网站终于能够远程访问了。~(￣▽￣)~🍻~(￣▽￣)~</p>

<p>现在这个界面唯一的用处就是注册用户（顶上）。不过注册了暂时也没什么用就是了。</p>

<p>在咱们这个小团队为网站添加一些内容之前，你可以用超级用户登录admin界面看看后台的现有数据库结构以及数据。</p>

<p>如果进入到界面还看不懂，也完全没有关系。一是这个网站的前台会很快完善，届时会更加易于使用；二是如果你正在啃python蟒蛇书（群里发的那一本），只要你慢慢啃完，这个界面也就不会那么难懂了。</p>

<p>目前功能和界面都是丑陋的，但绝对是未来可期的。</p>

<a href="https://zcyh.pythonanywhere.com/admin">https://zcyh.pythonanywhere.com/admin</a>

<p>用户名：zcyh</p>

<p>密码：zcyhzcxq</p>

<a href="{% url 'resources:nodes' user_id %}">访问自己的节点库</a>

{% endblock content %}


